name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master   # Trigger when code is pushed to the main branch

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup GitHub Pages
        uses: actions/configure-pages@v5

      - name: Upload site files
        uses: actions/upload-pages-artifact@v3
        with:
          path: .  # '.' means the root of your repo where index.html is

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
